{{ form_start(form) }}
<div class="row">
	<div class="col-md-6 col-lg-4">
		<div class="form-group has-success">
            <div class="form-group">
				{{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="form-group has-success">
				{{ form_row(form.phone, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="form-group has-success">
				{{ form_row(form.fullname, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="form-group">
				{{ form_row(form.gender, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="form-group">
				{{ form_row(form.dateofbirth, {'attr': {'class': 'form-control'}}) }}
			</div>
            <div class="form-group">
				{{ form_row(form.wallet, {'attr': {'class': 'form-control'}}) }}
			</div>
            <div class="form-group">
				{{ form_row(form.rate, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
	</div>
</div>
<div class="row mt-3">
	<div class="col-md-6 col-lg-4">
		<div class="form-group">
			<button class="btn btn-success">{{ button_label|default('Save') }}</button>
		</div>
	</div>
</div>
{{ form_end(form) }}