{% extends 'baseadmin.html.twig' %}

{% block title %}Author{% endblock %}

{% block body %}
    <h1>Author</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ author.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ author.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ author.phone }}</td>
            </tr>
            <tr>
                <th>Fullname</th>
                <td>{{ author.fullname }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ author.gender ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Dob</th>
                <td>{{ author.dob ? author.dob|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ author.rate }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_author_index') }}">Go back</a>

    <a href="{{ path('app_author_edit', {'id': author.id}) }}">edit</a>
{% endblock %}
