{% extends 'baseadmin.html.twig' %}

{% block body %}
	<h1>All Cart</h1>
	<div class="col-sm-12">
		<div class=" rounded h-100 p-1">
			<input id="myInput" type="text" placeholder="Search..">
			<table class="table table-bordered text-center align-middle">
				<thead>
					<tr>
						<th>Id</th>
						<th>UserId</th>
						<th>Book</th>
						<th>Image</th>
						<th>Quantity</th>
						<th>Price</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody id="myTable">
					{% for cart in carts %}
						<tr>
							<td>{{ cart.id }}</td>
							<td>{{ cart.user.id}}</td>
							<td>{{ cart.book.name }}</td>
							<td><img src="/uploads/images/{{cart.book.image}}" style="width:100px"/></td>
							<td>
								{{ cart.quantity }}
							</td>
							<td>{{ cart.book.price}}</td>
							<td>{{ cart.quantity * cart.book.price}}</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="3">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
