{% extends 'baseadmin.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>Book</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ book.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ book.price }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ book.description }}</td>
            </tr>
            <tr>
                <th>PublishDate</th>
                <td>{{ book.publishDate ? book.publishDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="/uploads/images/{{ book.image }}" style="width:100px"/></td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ book.rate }}</td>
            </tr>
            <tr>
                <th>Printlength</th>
                <td>{{ book.printlength }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_book_index') }}">back to list</a>

    <a href="{{ path('app_book_edit', {'id': book.id}) }}">edit</a>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
