{% extends 'baseadmin.html.twig' %}

{% block title %}Reader{% endblock %}

{% block body %}
    <h1>Reader</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reader.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ reader.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ reader.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ reader.phone }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ reader.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ reader.lastname }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ reader.gender ? 'Male' : 'Female' }}</td>
            </tr>
            <tr>
                <th>Dateofbirth</th>
                <td>{{ reader.dateofbirth ? reader.dateofbirth|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Wallet</th>
                <td>{{ reader.wallet }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reader_index') }}">Go back</a>
{% endblock %}
