{% extends "basestore.html.twig" %}

{% block body %}
	<main class="page product-page">
		<section class="clean-block clean-product dark">
			<div class="container">
				<div class="block-content">
					<div class="product-info">
						<div class="row">
							<div class="col-md-6">
								<div class="gallery">
									<div id="product-preview" class="vanilla-zoom">
										<div class="zoomed-image"></div>
										<div class="sidebar"><img class="img-fluid d-block small-preview" src="/uploads/images/{{book.image}}"></div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="info">
									<h3>{{book.name}}</h3>
									<div class="rating"><img src="/assets/img/star.svg"><img src="/assets/img/star.svg"><img src="/assets/img/star.svg"><img src="/assets/img/star-half-empty.svg"><img src="/assets/img/star-empty.svg"></div>
									<div class="price">
										<h3>{{book.price}}$</h3>
									</div>
                                    {% if app.user %}
									<a href="{{path('app_cart_new', {'id': book.id})}}">
                                    <button class="btn btn-primary" type="button" class="icon-basket">Add to Cart</button>
									</a>
                                    {% else %}
                                    <a href="{{path('app_login')}}" >
                                    <button class="btn btn-primary" type="button" class="icon-basket">Add to Cart</button>
                                    </a>
                                    {% endif %}
								<div class="summary">
									<p>{{book.description}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="product-info">
					<div>
						<h1>Feedback</h1>

						{% for fb in feedback %}
							<div class="reviews">

								<div class="review-item">
									<span class="text-muted">
										<a href="#">{{fb.user.firstname}}</a>,
										{{fb.datetime|date('Y-m-d H:i:s')}}</span>
									<h3>{{fb.content}}</h3>
								</div>
							</div>
						{% endfor %}

					</div>
				</div>
			</div>
		</div>
	</div>
</div></div></section></main>{% endblock %}
