{% extends "basestore.html.twig" %}

{% block body %}
	<main class="page product-page">
		<section class="clean-block clean-product dark">
			<div class="container">
				<div class="block-content">
					<div class="product-info">
						<div class="row">
							<div class="col-md-6">
								<div class="gallery">
									<div id="product-preview" class="vanilla-zoom">
										<div class="zoomed-image"></div>
										<div class="sidebar"><img class="img-fluid d-block small-preview" src="/uploads/images/{{book.image}}"><img class="img-fluid d-block small-preview" src="assets/img/tech/image1.jpg"><img class="img-fluid d-block small-preview" src="assets/img/tech/image1.jpg"></div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="info">
									<h3>{{book.name}}</h3>
									<div class="rating"><img src="/assets/img/star.svg"><img src="/assets/img/star.svg"><img src="/assets/img/star.svg"><img src="/assets/img/star-half-empty.svg"><img src="/assets/img/star-empty.svg"></div>
									<div class="price">
										<h3>{{book.price}}$</h3>
									</div>
									<a href="{{path('app_cart_new', {'id': book.id})}}" <button class="btn btn-primary" type="button"><i class="icon-basket"></i>Add to Cart </a>
								</a>
								<div class="summary">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc, pretium at augue at, convallis pellentesque ipsum. Vestibulum diam risus, sagittis at fringilla at, pulvinar vel risus. Vestibulum dignissim eu nulla eu imperdiet. Morbi mollis tellus a nunc vestibulum consequat. Quisque tristique elit et nibh dapibus sodales. Nam sollicitudin a urna sed iaculis.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="product-info">
					<div>
						<h1>Feedback</h1>

						{% for fb in feedback %}
							<div class="reviews">

								<div class="review-item">
									<span class="text-muted">
										<a href="#">{{fb.user.firstname}}</a>, {{fb.datetime|date('Y-m-d H:i:s')}}</span>
									<h3>{{fb.content}}</h3>
								</div>
							</div>
						{% endfor %}

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clean-related-items">
		<h3>Related Products</h3>
		<div class="items">
			<div class="row justify-content-center">
				<div class="col-sm-6 col-lg-4">
					<div class="clean-related-item">
						<div class="image">
							<a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a>
						</div>
						<div class="related-name">
							<a href="#">Lorem Ipsum dolor</a>
							<div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg"></div>
							<h4>$300</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div class="clean-related-item">
						<div class="image">
							<a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a>
						</div>
						<div class="related-name">
							<a href="#">Lorem Ipsum dolor</a>
							<div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg"></div>
							<h4>$300</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div class="clean-related-item">
						<div class="image">
							<a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a>
						</div>
						<div class="related-name">
							<a href="#">Lorem Ipsum dolor</a>
							<div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg"></div>
							<h4>$300</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div></div></section></main>{% endblock %}
