{% extends "basestore.html.twig" %}

{% block body %}
	<main class="page catalog-page">
		<section class="clean-block clean-catalog dark">
			<div class="container">

				<div class="content">
					<div class="row">
						<div class="col-md-3">
							<div class="d-none d-md-block">
								<div class="filters">
								<form  class = "d-flex justify-content-center mb-3" action="{{ path('app_books')}}" method="get">
										<input type="text" name="search" placeholder="Search..">
										<button type="submit" class="btn btn-primary btn-sm">Search</button>
								</form>
									<div class="filter-item">
										<h2>Categories</h2>
										{% for cate in categories %}
											<div class="row">
												<a class="h3" href="{{ path('app_book_cate', {'id': cate.id}) }}">{{cate.name}}</a>
											</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-md-9 ">
							<div class="products">
								<div class="row g-0">
									{% for book in books %}

										{% if  searchString|lower in book.name|lower %}
											<div class="col-12 col-md-6 col-lg-4">

												<div class="clean-product-item">
													<div class="image">
														<a href="{{ path('app_book_detail', {'id': book.id}) }}"><img class="img-fluid d-block mx-auto" src="/uploads/images/{{book.image}}"></a>
													</div>
													<div class="product-name">
														<a href="{{ path('app_book_detail', {'id': book.id}) }}">{{book.name}}</a>
													</div>
													<div class="about">
														<div class="rating"><img src="/assets/img/star.svg"><img src="/assets/img/star.svg"><img src="/assets/img/star.svg"><img src="/assets/img/star-half-empty.svg"><img src="/assets/img/star-empty.svg"></div>
														<div class="price">
															<h3>{{book.price}}</h3>
														</div>
													</div>
												</div>
											</div>
											{% else %}

										{% endif %}
									{% endfor %}
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
