{% extends 'basestore.html.twig' %}
{% block body %}
	<div class="container" style="padding:100px;">
		<h2 class="text-info" style="text-align:center;">Orderdetails</h2>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>BookName</th>

					<th>Total</th>

					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for orderdetail in orderdetails %}
					<tr>
						<td>{{ orderdetail.id }}</td>
						<td>{{ orderdetail.book.price }}</td>
						<td>{{ orderdetail.quantity }}</td>
						<td>{{ orderdetail.book.name }}</td>
						<td>{{ orderdetail.quantity * orderdetail.book.price}}</td>
						<td>
							<a class="btn btn-success ms-2",href="{{ path('app_feedback_new', {'id': orderdetail.id}) }}">Feedback</a>
							{# <a href="{{ path('app_orderdetails_edit', {'id': orderdetail.id}) }}">edit</a> #}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="4">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
