{% extends 'basestore.html.twig' %}
{% block body %}
	<div class="container" style="padding:100px;">
		<h2 class="text-info" style="text-align:center;">Orderdetails</h2>
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Price</th>
					<th>Total</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for orderdetail in orderdetails %}
					<tr>
						<td>{{ orderdetail.id }}</td>
						<td>{{ orderdetail.price }}</td>
						<td>{{ orderdetail.total }}</td>
						<td>
							<a href="{{ path('app_orderdetails_show', {'id': orderdetail.id}) }}">show</a>
							<a href="{{ path('app_orderdetails_edit', {'id': orderdetail.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="4">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
