<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<title>Amazing Book</title>
		<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
		<link rel="stylesheet" href="/assets/css/vanilla-zoom.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script>
			$(document).ready(function () {
				$("#myInput").on("keyup", function () {
				var value = $(this).val().toLowerCase();
				$("#myDIV *").filter(function () {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
				});
				});
		</script>


	</head>

	<body>
		<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
			<div class="container">
				<a class="navbar-brand logo" href="{{path('app_homepage')}}">Amazing Book</a>
				<button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
					<span class="visually-hidden">Toggle navigation</span>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navcol-1">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_homepage')}}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_books')}}">Books</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="about-us.html">About Us</a>
						</li>

						{% if app.user %}


							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_cart_index') }}">Cart</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_order_indexshow') }}">Order</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="about-us.html">Hi,
									{{ app.user.firstname }}</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
							</li>

						{% else %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_login') }}">Login</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path('registration')}}">Register</a>
							</li>
						{% endif %}


					</ul>
				</div>
			</div>
		</nav>

		{% block body %}{% endblock %}
		<footer class="page-footer dark">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<h5>Huynh Nhut Tan</h5>
						<ul>
							<li><a href="#">Student ID: GCC200156</a></li>
							<li><a href="#">Email: tanhngcc200156@fpt.edu.vn</a></li>
							<li><a href="#">Github: @tan00444</a></li>
						</ul>
					</div>
					<div class="col-sm-4">
						<h5>Nguyen Quoc Thong</h5>
						<ul>
							<li><a href="#">Student ID: GCC200003</a></li>
							<li><a href="#">Email: thongnqgcc200003@fpt.edu.vn</a></li>
							<li><a href="#">Github: @ngquocthogn</a></li>
						</ul>
					</div>
					<div class="col-sm-4">
						<h5>Chau Tran Quoc Tuan</h5>
						<ul>
							<li><a href="#">Student ID: GCC200396</a></li>
							<li><a href="#">Email: tuanctqgcc200396@fpt.edu.vn</a></li>
							<li><a href="#">Github: @tuanchou</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<p>© 2022 Copyright Text</p>
			</div>

		</footer>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
		<script src="/assets/js/vanilla-zoom.js"></script>
		<script src="/assets/js/theme.js"></script>
	</body>

</html>
