{% extends 'baseadmin.html.twig' %}

{% block body %}
	<div class="container" style="padding:30px;">
		<h2 class="text-info" style="text-align:center;">Order</h2>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Fullname</th>
					<th>Date</th>
					<th>Phone</th>
					<th>Address</th>
					<th>Deliverydate</th>

					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for order in orders %}
					<tr>
						<td>{{ order.id }}</td>
						<td>{{ order.fullname }}</td>
						<td>{{ order.date ? order.date|date('Y-m-d') : '' }}</td>
						<td>{{ order.phone }}</td>
						<td>{{ order.address }}</td>
						<td>{{ order.deliverydate }}</td>
						<td>
						<a class="btn btn-success", href="{{ path('app_orderdetails_index', {'id': order.id}) }}">Show Orderdetails</a>
						<a class="btn btn-warning ms-2", href="{{ path('app_orderdetails_edit', {'id': order.id}) }}">Conform</a>
						 </td>
					    {# <a href="{{ path('app_order_edit', {'id': order.id}) }}">Edit</a> #}
						{# <a class="btn btn-warning ms-2" href="{{ path('app_order_edit', {'id': order.id}) }}">Conform</a></td> #}
					</tr>
				{% else %}
					<tr>
						<td colspan="4">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endblock %}
